header{
    display: flex;
    justify-content: space-between;
}
button{
    cursor: pointer;
}
.timer{
    display: flex;
    padding: 15px;
}
.home{
    display: flex;
    flex-direction: column;
}
h1{
    font-size: 42px;
    font-weight: bold;
    text-align: center;
}
h4{
    font-size: 24px;
    text-align: center;
    margin-left: 18%;
    margin-right: 18%;
}
#start-button{
    background-color: blueviolet;
    color: white;
    border-radius: 8px;
    font-size: 24px;
    text-align: center;
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.flag{
    display: flex;
    flex-direction: column;
}

.answers{
    background-color: blueviolet;
    color: white;
    border-radius: 8px;
    font-size: 24px;
    text-align: center;
    margin-left: 5%;
    margin-top: 20px;
    width: 50%;
    height: 80px;
    
}

.questions{
    font-size: 42px;
    font-weight: bold;
    margin-left: 20%;
    margin-right: 20%;
    min-width: 50%;
}